@import 'tailwindcss';
/* @import "material-icons/iconfont/material-icons.scss"; */
/* @import 'material-icons/iconfont/filled.css';
@import 'material-icons/iconfont/outlined.css'; */
@import './colors.scss';
@import './styles/animations.css';
/* 
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Bungee&family=Freeman&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Tagesschrift&display=swap'); */

@font-face {
  font-family: 'BitcountGridDouble';
  src: url('./assets/font/BitcountGridDouble-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.tagesschrift-regular {
  font-family: 'Tagesschrift', system-ui;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'BitcountGridDouble-ExtraLight';
  src: url('./assets/font/BitcountGridDouble-ExtraLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

.font-BitcountGridDouble-ExtraLight {
  font-family: 'BitcountGridDouble-ExtraLight', system-ui !important;
}

/* Adicione scroll-behavior também no html para garantir */
html {
  font-family: 'BitcountGridDouble', system-ui;
  /* height: 100%; */
  overflow: hidden; /* bloqueia scroll nativo */
}

[data-scroll-container] > :last-child {
  padding-bottom: 20vh; /* ou mais */
}

.text-shadow-primary {
  text-shadow:
    0 0 16px #0ff,
    0 0 32px #0ff,
    0 0 64px #0ff,
    0 0 128px #0ff,
    0 0 256px #0ff;
}

.text-primary {
  color: #0ff;
}

.box-shadow-primary {
  box-shadow:
    0 0 16px #0ff,
    0 0 32px #0ff,
    0 0 64px #0ff,
    0 0 128px #0ff;
}

.box-shadow-primary-fit {
  box-shadow:
    0 0 8px #0ff,
    0 0 16px #0ff,
    0 0 32px #0ff,
    0 0 1px #0ff;
}

.text-shadow-primary-pink {
  text-shadow:
    0 0 16px #ad46ff,
    0 0 32px #ad46ff,
    0 0 64px #ad46ff,
    0 0 128px #ad46ff,
    0 0 256px #ad46ff;
}

.text-primary-pink {
  color: #ad46ff;
}

.box-shadow-primary-pink {
  box-shadow:
    0 0 16px #ad46ff,
    0 0 32px #ad46ff,
    0 0 64px #ad46ff,
    0 0 128px #ad46ff,
    0 0 256px #ad46ff;
}

.box-shadow-primary-fit-pink {
  box-shadow:
    0 0 8px #ad46ff,
    0 0 16px #ad46ff,
    0 0 32px #ad46ff,
    0 0 1px #ad46ff;
}
